@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@media screen and (max-width:1149px){
    body {
        width:auto;
        height: 100%;  
    }
    
    img{
        height:300px;
        width:100%;
        
    }

}   