.page{
    width: 760px;
    margin:auto;
}
body{
    background-image: url(back.jpg);
}
.infophoto{
    height: 250px;
    font-size: 20px;
}
.info{
    float: left;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    margin: 15px;
}
nav a{
    font-size: 1.3em;
    color:blue;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a :hover{
    color: #760001;
    border-bottom: 3px solid #760001;
}
nav{
.element:nth-child(1)
{
    background-color: orange;
}
.element:nth-child(2)
{
    background-color: blue;
}
.element:nth-child(3)
{
    background-color: chartreuse;
}






















