@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
    
@media screen and (min-width:1200px){
    .resume {
        width: auto;
        height: 100%;
        word-wrap: break-word;
    }

    h1{
        display:block;
        font-size: 3rem;
        font-family: 'shrikhand',cursive;
        text-align:center;
    }
    section.info{
        background:rgb(240,239,239);
        height:35vh;
    }

    h2{
        height: 6vh;
        margin-top:-1em;
        text-align: center;
        background-color:rgb(201,195,195);
        margin-top: -2.5rem;
        padding: 10px;

    }
    h2 i{
        background-color: rgb(145, 141, 141);
        

    }    

    a:hover{
        color:red;
        text-decoration: none;                      

    }


    a{
        margin-right: 1.5rem;
    }
    h3{
        margin-top:-.5rem;
        font-size:2em;
        text-align: center;
    }

    p{
        margin-top:-1em;
        font-size:2em;
        text-align: center;
    }
    
    .button {
        background-color: rgb(214, 13, 214);
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 2rem;
        margin-left:41rem;
    }

    section.fonctionnement{
        display:flex;
            
    }

    .fonctionnement h3{
        text-align: left;
        margin-top: .5em;
        margin-left:1em;
    }

    section div{
        margin-left: 4rem;
        display: inline-flex;
        justify-content: space-between;
        height: 7.5vh;
    }
    
    .restaurants{
        display: flex;
        flex-direction: column;
    }

    .fa-mobile-alt:before{
        color:grey;
        margin-left:-.5em;
        margin-right: 1em;

    }

    .fa-mobile-alt:hover{
        color:rgb(214, 13, 214);
    }

    .fa-list-ul:before{
        color:grey;
        margin-left:-.5em;
        margin-right: 1em;
        
    }
    
    .fa-list-ul:hover{
        color:rgb(214, 13, 214);
    }
    
    .fa-store:before{
        color:grey;
        margin-left:-.5em;
        margin-right: 1em; 
        
    }

    .fa-store:hover{
        color:rgb(214, 13, 214);
       
    }


    section.fonctionnement{
        margin-top:-.5em;
    }

    div.step.step1{
        
        margin-bottom:.8em;
    }

    div.step.step3{
        margin-top:.8em;
         
    }
  
    
    div.number{
        margin-left: -7rem;
    }

    .number{
        margin-right: 2em;
        background-color: blueviolet;
        padding: 10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius:50%;
        color: white;
    }

    div a.button.Fonctionnement{
        margin-left:-1.5rem;
        margin-top: .5em;
        color:black;
        font-size: 16px;
        line-height: 1.5;
        justify-content: space-between;
        background-color:#f0efef;
        width:40vh;
        height:4vh;
        border: none;
        padding: 20px;
        
    }

    section.fonctionnement-list{
        display:list-item;
        text-align: left;
        list-style: none;
        height: 15vh;
        margin-right: 1em;
        margin-left:1em; 
    }

    section .fonctionnement-list div{
        margin-bottom:0;
    }
   
    main.main{
        background-color: rgb(240,239,239);
        display: block;
    }
    .main{
        background-color:#f0efef;           

    }

    main article {
        display: flex;
        position: relative;
        border-radius: 16px;
        margin-left:1em;
        background-color: white;
        margin-bottom: 1.5em;
        margin-right: 1em;

    }

    .main h3{
        text-align: left;
        margin-left: 1em;
    }

    .container{
        width: auto;
        margin: auto;

    }
    
    .container-grid {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2rem;
        grid-row: auto;
        
                 
    }
       
    article a.button{
        background-color: rgb(7, 197, 165);
        color: rgb(4, 134, 4);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 2px;
        float:right; 
        position: absolute;
        right: 0;
        margin-top: 2rem;
        z-index: 2;
       
    }
    
    #img_restaurant1{
        
        height: 430px;
        width: 620px;
        margin-left:.1rem;
    }

    img{
        overflow: hidden;
        border-radius: 20px 20px 0 0;
        
        position: relative;
        width:100%;
        height:auto;
    
    }
    
    h4{
        margin-top:-.5em;
        font-size: 1.5em;
        margin-left: 2em;
        margin-right: 4rem;
    }

    article.restaurants{
        display:flex;
    }

    .main p{
        float: left;
        margin-left:3rem;
    }

    .fa-heart-o:hover{
    
        margin-left: 20rem;
        -webkit-background-clip:text;
        -webkit-text-fill-color:rgb(248, 248, 242);
        -webkit-text-fill-color: transparent;
    }
    
    .fa-heart-o:hover{
        color: blueviolet;
        text-decoration: none;
        top:-40px;
        background:-webkit-radial-gradient(ellipse,blueviolet 4%,fb7aec 75%,blueviolet);
        -webkit-background-clip:text;
        -webkit-text-fill-color:blueviolet;

    }

    footer{
        background:#535353;
        color: white;
        
        justify-content: center;
        align-items: center;
    }
    
    
    h5{
        text-align: center;
        margin-top: 1rem;
        font-size:2.5rem;
        margin-left: 1em;
        color: white;
        font-family:'Shrikhand', cursive;   

    }
      
    footer .footer_list{      
        margin-top: -.5rem;
        justify-content: space-around;
        list-style: none;
        display: inline-flex;
        align-items: flex-start;
    }

    .fa-utensils:before{
        margin-right: 1em;
        margin-top: 2em;
    }

    .fa-handshake:before{
        margin-right: .5em;
        margin-top:2em;
    }

    li{
        font-size: 2rem;
        margin-right: 2em;
        
    }

}

@media screen and (max-width: 700px){
    body{
        width: 100%;
    }

    h1{
        font-size: 10em;
        font-family: 'shrikhand',cursive;
        margin-left:70rem;
    }
    
    section.info{
        background:rgb(240,239,239);
        width:700vh;
        height: 140vh;
    }

    h2{
        height:20vh;
        margin-top:-1em;
        text-align: center;
        font-size:5rem;
        background-color:rgb(201,195,195);
        margin-top: -2.5rem;
        padding: 10px;

    }
    h2 i{
        background-color: rgb(145, 141, 141); 

    }    

    a:hover{
        color:red;
        text-decoration: none; 
    }
    a{
        margin-right:2.5rem;
    }
    h3{
        margin-top:-.5rem;
        font-size:5em;
        text-align: center;
    }

    p{
        margin-top:-1em;
        font-size:5em;
        text-align: center;
    }
    .button {
        background-color: rgb(214, 13, 214);
        border: none;
        color: white;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        font-size:50px;
        border-radius: 2rem;
        margin-left:80rem;
       
    }
    .fonctionnement h3{
        margin-left:-.5em;
    }
    
    div a.button.Fonctionnement{
        margin-left:2rem;
        margin-top: 1em;
        color:black;
        font-size: 32px;
        line-height: 1.5;
        justify-content: space-between;
        background-color:#f0efef;
        width:120vh;
        height: 20vh;
        border: none;
        padding: 10px;
        
    }
    .fa-mobile-alt:before{
        margin-right:.5em;
    }
    .fa-list-ul:before{
        margin-right:.5em;
    }
    .fa-store:before{
        margin-right:.5em;
    }
    .number{
        
        margin-left:-7rem;
        margin-right: 2em;
        margin-bottom: 1em;
        background-color: blueviolet;
        padding:10px;
        width:25px;
        height: 25px;
        line-height: 25px;
        border-radius:50%;
        color: white;
    }

    section.fonctionnement{
        margin-left:12rem;
        margin-bottom:10rem;

    }
    section.fonctionnement-list{
        display:inline-flex;
        text-align: center;
        list-style: none;
        margin-bottom:-1em;
        
        margin-right: 1em;
        margin-left:20em; 
    }

    section div{
        margin-left: 1rem;
        display: inline-flex;
        justify-content: space-between;
        height: 7.5vh;
    }
    .fa-mobile-alt:before{
        color:grey;
        margin-left:-.5em;
        margin-right: 1em;

    }

    .fa-mobile-alt:hover{
        color:rgb(214, 13, 214);
    }

    .fa-list-ul:before{
        color:grey;
        margin-left:-.5em;
        margin-right: 1em;
        
    }
    
    .fa-list-ul:hover{
        color:rgb(214, 13, 214);
    }
    
    .fa-store:before{
        color:grey;
        margin-left:-.5em;
        margin-right: 1em; 
        
    }

    .fa-store:hover{
        color:rgb(214, 13, 214);
       
    }

    .main{
        background-color:#f0efef;           

    }
    main.main{
        background-color: rgb(240,239,239);
        display: block;
        width: 700vh;
    }
    main h3{
        text-align: left;
        margin-left:1.5em;
    }
    .container{
        width: auto;
        margin: auto;

    }
    .container-grid {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2rem;
        grid-row: auto;        
    }
    .restaurants{
        display: flex;
        flex-direction: column;
    }
    article a.button{
        background-color: rgb(7, 197, 165);
        color: rgb(4, 134, 4);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 2px;
        float:right; 
        position: absolute;
        right: 0;
        margin-top: 2rem;
        z-index: 2;
    }
    #img_restaurant1{
        
        height: 987px;
        width: 1480px;
        margin-left:.1rem;
    }

    img{
        overflow: hidden;
        border-radius: 20px 20px 0 0;
        
        position: relative;
        width:100%;
        height:auto;
    }
    h4{
        font-size: 4em;
        margin-left:1.5em;
    }
    .main p{
        margin-top:.5em;
        text-align: left;
        margin-left:1.5em;

    }
    .fa-heart-o:hover{
    
        margin-left: 20rem;
        -webkit-background-clip:text;
        -webkit-text-fill-color:rgb(248, 248, 242);
        -webkit-text-fill-color: transparent;
    }
    
    .fa-heart-o:hover{
        color: blueviolet;
        text-decoration: none;
        top:-40px;
        background:-webkit-radial-gradient(ellipse,blueviolet 4%,fb7aec 75%,blueviolet);
        -webkit-background-clip:text;
        -webkit-text-fill-color:blueviolet;

    }
    footer{
        background:#535353;
        color: white;
        width:700vh;
        height:120vh;
        justify-content: center;
        align-items: center;
    }
    
    
    h5{
        text-align:center;
        margin-top: 1rem;
        font-size:7rem;
        
        color: white;
        font-family:'Shrikhand', cursive;   

    }
      
    footer .footer_list{      
        margin-top: -.5rem;
        justify-content: space-around;
        list-style: none;
        display: inline-flex;
        align-items: flex-start;
    }

    .fa-utensils:before{
        margin-right: 1em;
        margin-top: 2em;
    }

    .fa-handshake:before{
        margin-right: .5em;
        margin-top:2em;
    }

    li{
        font-size: 5rem;
        margin-right: 2em;
        
    }


}

    


    
