@media screen and (min-width: 300px){
    body{
        width: auto;
        height: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
        

        
    }
    

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
    
    body{
        background: white;
        font-size: 14px;
        line-height: 22px;
        color: #585c68;  
    }

    h1{
        display: block;
        font-size:3.5rem;
        font-family: 'Shrikhand', cursive;
        text-align: center;
                
    }

                
                
    h2{
        width: 100%;
        padding:16px;
        height: 12vh;
        margin-block-start:.73em;
        text-align: center;
        margin-top:.8rem;
        background-color: rgb(201, 195, 195);           
        

    }

    h2 i{
        background-color: rgb(145, 141, 141);
        

    }    

    a:hover{
        color:red;
        text-decoration: none;                      

    }


    a{
        margin-right: 1.5rem;
    }

    

    .button {
        background-color: rgb(214, 13, 214);
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 2rem;

    }
    

    .info{
        background-color:#f0efef;
        width: auto;
        padding: 16px;
        display: flex;
        height: 40vh;
        justify-content:space-around;
        -webkit-box-align: center;
        -webkit-box-direction: normal;
        align-items: center;
        flex-direction: column;
    }

    h3{
        margin-top: 2rem;
        margin-left: 1.5rem;
        font-size: 2em;
        font-style: bold;
    }

    p{
        margin-top: -1rem;
        margin-left: 1.2em;
        font-size: 2em;

    }
    
    section .fonctionnement{
        display:flex;
        
    }
    
    section.fonctionnement_list{
    
        text-align: center;
    }
    

    section div{
        margin-left: 4rem;
        display: inline-flex;
        justify-content: space-between;
        height: 7.5vh;

    
    }

    .restaurants{
        display: flex;
        flex-direction: column;
    }

    .fa-mobile-alt:before{
        color:grey;
        margin-left:-.5em;
        margin-right: 1em;

    }

    .fa-mobile-alt:hover{
        color:rgb(214, 13, 214);
    }

    .fa-list-ul:before{
        color:grey;
        margin-left:-.5em;
        margin-right: 1em;
        
    }
    
    .fa-list-ul:hover{
        color:rgb(214, 13, 214);
    }
    
    .fa-store:before{
        color:grey;
        margin-left:-.5em;
        margin-right: 1em; 
        
    }

    .fa-store:hover{
        color:rgb(214, 13, 214);
       
    }
    


    .number{
        
        margin-left: -2rem;
        margin-right: 2em;
        margin-bottom: 1em;
        background-color: blueviolet;
        padding: 10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius:50%;
        color: white;
    }

    a.button.Fonctionnement {
        background-color:#f0efef;
        width:96%;
        border: none;
        color: black;
        padding: 10px;
        margin-bottom: 0rem;
        text-align:left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 2rem;
        justify-content:space-around;
        line-height: 1.5;
        margin-left: 2rem;
       
    }


    .main{
        background-color:#f0efef;           

    }


    article a.button{
        background-color: rgb(7, 197, 165);
        color: rgb(4, 134, 4);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 2px;
        float:right; 
        position: absolute;
        right: 0;
        margin-top: 2rem;
        z-index: 2;
       

    }

    .main p{
        float: left;
    }

    main article {
        display: flex;
        position: relative;
        border-radius: 16px;
        margin-left:1em;
        background-color: white;
        margin-bottom: 1.5em;
        margin-right: 1em;

    }
    #img_restaurant1{
        
        height: 375px;
        width: 556px;
        margin-left:.1rem;
    }




    img{
        overflow: hidden;
        border-radius: 20px 20px 0 0;
        
        position: relative;
        width:100%;
        height:auto;
    
    }
    
    h4{
        font-size: 1.5em;
        margin-left: 2em;
    }


    .fa-heart{
        margin-top: -1em;
        margin-left: 20rem;
        background:-webkit-radial-gradient(center,white);
        -webkit-background-clip:text;
        -webkit-text-fill-color:rgb(231, 231, 222);

    }
    .fa-heart:hover{
        color: blueviolet;
        text-decoration: none;
        top:-40px;
        
        background:-webkit-radial-gradient(ellipse,blueviolet 4%,fb7aec 75%,blueviolet);

        -webkit-background-clip:text;
        -webkit-text-fill-color:blueviolet;
        
    }


    .container{
        width: auto;
        margin: auto;

    }

    .container-grid {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2rem;
        grid-row: auto;
        
                 
    }
       
    
    


    footer{
        background:#535353;
        color: white;
        padding: 1rem;
        height: 25vh;
        justify-content: center;
        align-items: center;
    }
    
    
    h5{
        text-align: center;
        margin-top: 1rem;
        font-size:2.5rem;
        margin-left: 1em;
        color: white;
        font-family:'Shrikhand', cursive;   

    }
      
    footer .footer_list{      
        margin-top: -.5rem;
        justify-content: space-around;
        list-style: none;
        display: inline-flex;
        align-items: flex-start;
    }

    .fa-utensils:before{
        margin-right: 1em;
        margin-top: 2em;
    }

    .fa-handshake:before{
        margin-right: .5em;
        margin-top:2em;
    }

    li{
        font-size: 2rem;
        margin-right: 2em;
        
    }

      
}

@media screen and (max-width: 700px){
    .resume {
        width: auto;
        height: 100%;
        word-wrap: break-word;
    }
    h1{
        font-size: 2.5rem;
    }
    .info{
        margin-top: .2em;
        padding: 12px;
        height:20vh;
    }

    h2{
        margin-top: -2.5rem;
        height: 4vh;
        padding: 14px;

    }
    h3{
       font-size:1.5em;
    }

    .info h3{
        margin-top: -.2em;
        margin-bottom: 1.8em;
    }
    .info p{
        margin-top: -1.2em;
        font-size: 1.5em;
    }

    .info .button{
        margin-top:-.2em;
    }
    section.fonctionnement{
        margin-top:-.5em;
    }
    div.step.step1{
        margin-top:-1em;
        margin-bottom: .8em;
    }
    div.step.step3{
        margin-top:.8em;
        margin-bottom: -.5em;
        
    }
   

    div.number{
        margin-left: -1.3em;
    }
    section.fonctionnement-list{
        display:list-item;
        text-align: left;
        list-style: none;
        height: 15vh;
        margin: 0;
         
    }
    section .fonctionnement-list div{
        margin-bottom:0;
    }
    .number{
        margin: 0;
    }
    
    main {
        margin-top: 2rem;
        text-align: left;
        display: list-item;

    }
    .container-grid {
        margin-top: -1rem;
        display: list-item;
    }

    h4{
        margin-top:1em;
    }
    .main h3{
        margin-top: -.5em;
    }
    .main p{
        margin-top: -.5em;
    }

    footer{
        height: 6vh;
    }
    footer h5{
        margin-top: -2em;
        text-align:left;
        font-size:2em;
        margin-left: -2rem;
    }
    
    footer .footer_list{
        
        text-align: left;
        display: list-item;
        margin-left:-2.5em;
        margin-top:-1.5em;
    
    }
    li{
        font-size: 1.8rem;
        margin-left: -2rem;
    }
    
    footer .footer_list .fa-1x{
        font-size: .7em;
    }
    

}


@media screen and (min-width: 300px){
    .resume {
        width: 100%;
        height: 100%;
        
    }
    header{
        text-align: center;
        margin-left: 2.5rem;
    }
    h1{
        
        font-size:2.5rem;
        font-family: 'Shrikhand', cursive;
        
    }
    .info{
        background-color:#f0efef;
       
        padding: auto;
        display: flex;
        height: 34vh;
        justify-content:space-around;
        -webkit-box-align: center;
        -webkit-box-direction: normal;
        align-items: center;
        flex-direction: column;
    }
    .button{
        margin-top: -.5rem;
    }
    section .fonctionnement-list{
        margin-top: .7rem;
        margin-left:4rem;
        list-style: none;
        height:auto;
        
    }
    footer{
        padding:60px;

    }
    footer li{
        font-size: 2em;
        line-height: -.1em;
    }
    

}
@media screen and (max-width: 300px){
    .resume {
        width: 100%;
        height: 100%;
        
    }
    body{
        width:100%;
        height: 100%;
    }
    header{
        text-align: center;
        margin-left: 2.5rem;
    }
    h1{
    
        font-size:2.5rem;
        font-family: 'Shrikhand', cursive;
    
    }
    .info{
        background-color:#f0efef;
   
        padding: 60px;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content:space-around;
        -webkit-box-align: center;
        -webkit-box-direction: normal;
        align-items: center;
        flex-direction: column;
    }
    h2{
        
        margin-left:-5.5rem;
        margin-right: -5.5rem;
    }
    h3{
        margin-top: .5em;
    }

    .button{
         margin-top: -.5rem;
    }
    section .fonctionnement-list{
        margin-top: .7rem;
        margin-left:1.7rem;
        list-style: none;
        height:auto;
    
    }
    footer{
        width: 100%;
        padding:60px;


    }
    ul.footer_list{
        
        font-size: .8rem;
    }
    footer li{
        font-size:2em;
        
        
    }

}




