@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@media screen and (max-width: 300px){

    .resume {
        width: auto;
        height: 100%;
        word-wrap: break-word;
    }

    .image{
        width:30%p;
        height: 30%;
        display: block;
        
    } 

}


@mixin bg($color, $color1) {
    background-color: $color;
    color: $color1;
}

.site{
    height: 100vh;
    width: 100vw;
    @include bg(#F2F2F2, teal);
}