@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@media screen and (max-width: 300px){

    .site {
        width: 300px;
        height: auto;
        word-wrap: break-word;

    }
     
    .img{


    }


    .photo{
        widows: 100px;;
        display: block;
        
    }

    .h1{
        align-content: center;
        font-size: 2.5rem;
        font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        background-color:red;

    }



}


@mixin bg($color, $color1) {
    background-color: $color;
    color: $color1;
}

.site{
    height: 100vh;
    width: 100vw;
    @include bg(#F2F2F2, teal);
}

.photo{
    width:200px;

    display: block;
    
}

