@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.site {
    width:75%;
    height: 100%;
    word-wrap: break-word;
    text-align: center;
    margin:0 auto;
}

/*....retour btn....*/

.fa-arrow-left:before{
    margin-top:4rem;
    font-size: 30px;
    
}

.header.retour a span{
    position: fixed;
    float: left;
    font-size:24px;
    font-weight: bold;
    

}


/*....image....*/

img{
    background-image: url(image1.jpg);
    
}

.menu__main .image{
    background-position:center center;
    position: relative;
}

img{
    overflow: hidden;
    border-radius:0 0 20px 20px;
    position: relative;
    width:150%;
    height:auto;
    margin-top: 1.5em;    
}
header{
    
    display: grid;
    grid-template-columns:1fr 1fr;

}
header div{
    display: flex;

}

.header h1{
    position:relative;
    text-align: center;
    display:inline-block;
    font-size:3rem;
    font-family: 'shrikhand',cursive;
    margin-top: -.5rem;
    margin-bottom: -.5rem; 
}

div h2{
    font-family:'shrikhand',cursive;
    position:relative;
    margin-right:1em;
}

div.coeur{
    position: relative;
}

.menus h2{
    display: inline-block;
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 12px;
    /*margin-left:-11em;*/
}



/*.....Menu Block....*/

.menu__main .menu{
    padding: 0 0px;
    border-radius: 40px 40px 0 0;
    background-color:#f3f2f2;
    
}

.nom_restaurant{
    position: absolute;
}

/*...position des menus...*/
.menu{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu__main .menu
.menus h2::after{
    background-color: #99e2d0;
    position: absolute;
    width: 50%;
    bottom: 0;
    left:0;
    height: 4px;
    border-radius: 4px;
    content: "";
}

div .nom_restaurant{
    display: flex;
}

section.nom{
    display:block;
    justify-content: space-between;

}

.nom_restaurant{
    justify-content: space-between;

}

/*....animation de coeur....*/

.container_coeur{
    position:absolute;
    top:10%;
    right:-45%;
}

.nom_restaurant .coeur{
    position:absolute;
    cursor:pointer;
    opacity:0;
    transform-origin:bottom;
    opacity:1;
    top:0;
    font-size:1.5rem;
    color:#000;
    
}

.nom_restaurant .coeur2{
    position:absolute;
    cursor:pointer;
    opacity:0;
    transform-origin:bottom;
    top:0rem;
    font-size:1.5rem;
    
}

.coeur2:hover{
    opacity:1;
    transition:opacity 1.6s;
    color: blueviolet;
}

.fa-heart{
    font-size:40px;
}

.coeur .coeur2:hover{
    display:none;
}


/*...menu...*/


section.menu{
    background-color: rgb(240,239,239);
    border-radius: 20px 20px 0 0;
    width: 75%;
    padding: 0 16px;
}

.menu__main .menu .menus{
    margin-top:6rem;
    margin-bottom:20px;
}

.menu .menus{
    width: 45%;
    border-radius: 15px;
    box-shadow: 0 0 20px #c4c4c4;
    padding: 20px;
    transform: translateY(-30px);   
}

.menus:hover .menus__item{
    box-shadow:0 0 10px#99e2d0;
}

/*...apparition au défilement...*/

/*...make it move...*/
@keyframes defilement {
    0% {
        -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
        
    }
    100% {
        opacity: 1;
        margin-top:0;
    }

}

article{
    
    display: inline-block;  /* pour un meilleur alignement */
    position:relative;      /* pour servir de référent à :after */
    min-width:4%;         /* dimension minimum */
    margin-left:-3%; 
    margin-bottom:1%; 
    font-size: 1em;
    text-align: left;
    animation: defilement 5.5s linear;  /*...temps de defilement...*/
}

.article:hover{
    animation:defilement none;

}

article.menus__item__description__text{
    margin-left:1em;
    
}



.menus__item{
    margin-top:16px;
    display:flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
    background-color:#fff;
    border-radius: 16px;
    box-shadow: 0 0 15px #c4c4c4;
    overflow: hidden;
    position: relative;
    transform:translateY(30px);
    transition-delay:all .20s ease-in-out;
    cursor: pointer;
}



.menus h3{
    font-weight:750;
    margin-bottom: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.menus__item__description{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 1em;
    overflow: hidden;
    text-overflow: ellipsis;

}

/*..animation de selection de prix  1..*/


div.menus__item__price{
    position:absolute;
    right: 10%;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    justify-content:flex-end;
    font-weight:700;
    font-size:1em;
   
}

/*.....price....*/

.menus__item:hover .menus__item__price{
    left: 70%;
    transition:left 0.8s ease-in-out .8s;
    
}


/*..animation de selection de prix  2..*/

.fa-check-circle{
    content: "\f058";
    
}

.menus__item__order .fa-check-circle{
    position: relative;
    transition-duration: 0.5s;
    transition-property: transform;

}

.menus__item__order .fa-check-circle:hover{
    transition:rotate 0.5s ease-in;
    transform:rotate(360deg);
}


.menus__item
.menus__item__order{
    background-color: #99e2d0;
    color: #fff;
    -webkit-box-align: center;
    align-items: center; 
    position:absolute;
    display:flex;
    justify-content: center;
    top: 0;
    left:100%;
    width: 20%;
    height: 100%;
    font-size: 20px;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    overflow: hidden;
   
}

.menus__item:hover .menus__item__order{
    left: 80%;
    transition:left 0.3s ease-in-out .3s;
  
    
}


 /*...btn de order... */

a.button{
    
    background-color: rgb(214, 13, 214);
    border: none;
    color: white;
    padding:10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
    border-radius:2rem;
    overflow: hidden;
    margin-bottom:1em;
}


div.button__order{
    justify-content: center;
    text-align: center;
    background-color:#f3f2f2;
    width: 75%;
}

footer{
    position:absolute;
    background:#535353;
    color: white;
    padding:2em;
}

footer h2{
    font-family:'Shrikhand', cursive;
    text-align: center;
    font-size:2rem;
}

.footer .footer_list{      
    margin-top:16px;
    justify-content: space-around;
    list-style: none;
    display: inline-flex;
    align-items: flex-start;
}

.fa-utensils:before{
    margin-right: 1em;
    margin-top: 1.5rem;
}

.fa-hands-helping:before{
    margin-right:1rem;
}


li{
    text-align: center;
    font-size: 1em;
    margin-right: 5em;
    padding:1.5rem;
}


@media screen and (min-width:2590px){
    .site {
        width: auto;
        height: 100%;   
    }

}


@media screen and (min-width:2000px){
    .footer{
        padding: 4rem;
    }

}

@media screen and (min-width:1890px){
    .footer{
        padding: 4rem;
    }

}

@media screen and (min-width:1790px){
    .footer{
        padding: 4rem;
    }

}

@media screen and (max-width:1390px){
    .site {
        width: auto;
        height: 100%;   
    }

    li{
        text-align: center;
        font-size: 1em;
        margin-right: 5em;
        padding:1.5rem;
    }

}

@media screen and (max-width:1320px){
    .site {
        width: auto;
        height: 100%;  
    }

    .menu__main .menu{
        padding: 0 0px;
        margin-top:-5rem;
    }

}



@media screen and (min-width:1150px){
    .site {
        width:auto;
        height: 100%;   
    }

    h1{
        margin-left:-20rem;
        
    }

    .menu__main .menu{
        padding: 0 0px;
        margin-top:-30rem;
    }

    footer {
        width:68.2%;
        height:20%;
    }

    footer h2{
        margin-top:-1rem
    }

    footer li{
        margin-top:-.5rem;
    }

}



@media screen and (max-width:900px){
    .site {
        width:100%;
        height: 100%;
        margin-left:5rem;  
    }

    .header h1{
        margin-left:-12rem;
 
    }
    
    li{
        text-align: center;
        font-size: 1em;
        margin-right: 5em;
        padding:1.5rem;
    }

    footer {
        width:67%;
        height:20%;
        
    }

    footer h2{
        margin-top:-1rem
    }

    footer li{
        margin-top:-.5rem;
        margin:-.5rem
    }  
}

@media screen and (min-width:500px){
    .site {
        width:100%;
        height: 100%;  
    }
    
    footer {
        width:100%;
        height:20%;   
    }

    .footer .footer_list{
        margin-left:-2rem;
    }
}