

button{
    padding: 20px 60px;
    background:#ff0080;
    color:#ff0080;
    border-radius: 20px;
    border: 4px solid #ff0080;
    
    
    &:hover{
        background-color:rgb(119, 5, 62);
        color:rgb(119, 5, 62); 
    }
     

}
