.buttons i{
   background:palevioletred;
   &:hover{
       background: red;
   }


}


button{
    background:rgb(255, 0, 128);
    &:hover{
        background-color:rgb(255, 0, 128);
    }
    a{
        text-decoration: white;
    }
    

}