

button{
    padding: 20px 60px;
    background:#ff0080;
    color:#ff0080;
    -webkit-border-image: 20pxpx;
    -moz-border-image: 20px;
    border-radius: 20px;
    border: 4px solid #ff0080;
    
    
    &:hover{
        background-color:rgb(119, 5, 62);
        color:rgb(119, 5, 62); 
    }
     

}