// Section. info.

.info{
    background: cornsilk;
    height: 30vh;
    justify-content: center;
    align-items: center;
    h2 .p .a{
        color:black;

    }


}



// Section. fonctionnement.

.fonctionnement h2{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: chartreuse;
    
    li{
        color: black;
    }

}



// Section. photo.
.photo{
    background-size: cover;
    width:500px;
    height: 500px;
    border: 1px solid yellow;
    
    background-position: center;
}
.photo1{
    background-image: url("../images/restaurants/image1.jpg");
    

}

.photo2{
    background-image: url("../images/restaurants/image2.jpg");
}

.photo3{
    background-image: url("../images/restaurants/image3.jpg");
}

.photo4{
    background-image: url("../images/restaurants/image4.jpg");
}
