@media screen and (min-width: 300px){
    body{
        width: auto;
        height: 100%;
        padding-left: 4rem;
        
        padding-right: 4rem;
        word-wrap: break-word;
        
    
    }

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');



    body{
        width: 95%;
        display: block;
        background: white;
        font-size: 14px;
        line-height: 22px;
    }




    /*section info*/

    .info{
        background-color:#f0efef;
        display: flex;
        margin-top: 2.5rem;
        height: 30vh;
        justify-content:space-around;
        -webkit-box-align: center;
        -webkit-box-direction: normal;
        align-items: center;
        flex-direction: column;
    }
        
    h2{
        background-color: rgb(235, 226, 226);
        margin-top:2rem;
        margin-bottom:2rem;
    }

    h3{
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
            
    }

    p{
        font-size: 20px;
        margin-bottom: 4rem;
        
    }

    a{
        margin-top: 3rem;
    }

    .button {
        background-color: rgb(214, 13, 214);
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 2rem;


    }



    /*section fonctionnement*/

    .fonctionnement{
        h2{
            height: 30vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
        }   
        li{
            margin-right: 3rem;
            text-decoration-color: black;
            margin-left:4rem;
        }

    }



    /*section photo*/
    h2{
        margin-top: 4rem;
        margin-left: 4rem;
        font-size: 25px;
    }

    .photo{
        margin-top:4rem;
        background-size: cover;
        width:500px;
        height:500px;
        border:1px solid yellow;
        
        background-position: center;
    }
    .photo1{
        background-image: url("../images/restaurants/image1.jpg");
        
    }

    .photo2{
        background-image: url("../images/restaurants/image2.jpg");
    }

    .photo3{
        background-image: url("../images/restaurants/image3.jpg");
    }

    .photo4{
        background-image: url("../images/restaurants/image4.jpg");
    }


}   