
.photo{
    background-size: cover;
    width:500px;
    height: 500px;
    border: 1px solid yellow;
    
    background-position: center;
}
.photo1{
    background-image: url("../images/restaurants/image1.jpg");
    

}

.photo2{
    background-image: url("../images/restaurants/image2.jpg");
}

.photo3{
    background-image: url("../images/restaurants/image3.jpg");
}

.photo4{
    background-image: url("../images/restaurants/image4.jpg");
}
