footer{
    background: cornsilk;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        background:rgb(182,85,153);
    }

    h5{
        font-size:4rem;
        font-family:'Molle', cursive;
        
    }

    
}