header{
    background: cornsilk;
    color: blue;
    height: 100vh;
    text-align: center;
    button{
        color:#ff0080;
        background:rgb(182,85,153);
    }
    h1 {
        font-size:5rem;
        font-family: 'Molle', cursive;
        
    }

}