header{
    text-align: center;
    padding:1.2rem 0;
    color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1{
        display: block;
        font-size:4em;
        font-family: 'Shrikhand', cursive;
        
    }

}